html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;

  background-color: white;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

/**************BUTTON*********************/

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/**********************************************/

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: black;
  background-color: #eeeeee;
}

.site-navigation, 
.main-footer ul
{
  list-style: none;
}

.site-navigation a,
.basket {
  color: black;
  text-transform: uppercase;
  font-weight: medium;
}

.site-navigation a:focus,
.site-navigation a:hover,
.basket:focus,
.basket:hover
 {
  color: #fb565a;
}

.service-items,
.percent-block,
.main-footer,
.about-us {
  list-style: none;
}

/*slider--------------------*/

.feature {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: black;
}

.feature-description {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

/* услуги------------------------*/

.service-items h3 {
  font-size: 24px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.service-items p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.service-item-button {
	width: 160px;
}

.button2 {
  font-size: 16px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  background-color: #00ca74
}

.button2:focus,
.button2:hover
{
	background-color: #00bc6c;
}
.button2:active {
	background-color: #00aa62;
	color: #4dc491;
}

.button3 {
  font-size: 16px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  background-color: #efc84a
}

.button3:focus,
.button3:hover
{
	background-color: #eab534;
}

.button3:active {
	background-color: #e5a722;
	color: #edc265;
}

/* мы маленькя студия----------------*/


.about h2 {
  font-size: 45px;
  line-height: 45px;
  color: black;
  font-weight: 500;
} 

.principles {
	font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.order-types {
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}
 .order-type {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.percent-block b {
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;

}

.percent-description {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.percent {
  color: black;
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
}

/*карта-------------*/

.name-for-contacts {
  font-size: 18px;
  line-height: 30px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.adress {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

/*form----------------------------*/

.appointment h2 {
  color: black;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.appointment-item {
  font-size: 18px;
  line-height: 30px;
  color: black;
  font-weight: bold;
  font: inherit;
  background-color: transparent;
}

.appointment-item input {
	font: inherit;
	border: 2px solid #d7dcde;
	border-radius: 3px;
}

/*foooter--------------------*/

.main-footer b {
  font-size: 36px;
  line-height: 36px;
  color: black;
  font-weight: bold;
  t
}

.main-footer p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}


/*filters---------------------*/

.page-title {
  font-size: 55px;
  line-height: 55px;
  color: black;
  font-weight: 500;
  background-color: #eeeeee;
  text-align: center;
}

.price,
.special,
.setka
 {
	border: none;
}

.filter-options,
.from-to,
.pagination-list,
.catalog-list
 {
	list-style: none;
}

.filters legend {
	font-size: 18px;
	line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.filter-option label {
	font-size: 16px;
	line-height: 20px;
	color: #283136;
}

.from,
.to
 {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(40, 49, 54);
  line-height: 22px;
  text-transform: uppercase;
}

.input-from {
   font-size: 16px;
   line-height: 22px;
   background-color: #eeeeee;
   color: #283136;
   border: none;
}

.filter-button,
.pagination-item a
 {
  background-color: #eeeeee;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
}

.name-project {
  font-size: 18px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #eeeeee; 
}

.catalog p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.pagination-item-current a {
	background-color: white;
	border: 2px solid #d7dcde;
}

.pagination-list a {
	color: black;
}

.catalog-information {
	background-color: #eeeeee;
}

/*------------------------------------------------------------------------------------------------------------------------*/


.main-header {
    display: block;
    background-color: #eeeeee;
    /*height: 545px;*/
}

.main-navigation {
    /*background-color: #eeeeee;*/
    display: flex;
    justify-content: space-between;
    width: 1160px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    /*height: 114px;*/
    /*margin-top: 49px;*/
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 49px;
}

.main-navigation-wrapper {
	width: 100%;
	background-color: #eeeeee;
}

.main-header-logo {
	width: 160px;
	height: 65px;
}

.main-header-logo img {
	/*margin-top: 49px;*/
}

.site-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 440px;

	display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket {
	width: 115px;
}

/*-------------SLIDER-------------------------------------------*/

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
  box-sizing: content-box;
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
  height: 413px;
}

.slider-item:nth-child(1) {
  background-image: url("img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}



/*------------------srvices---------------------------------------------------*/

.services {
	display: flex;
	flex-wrap: wrap;
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

.service-items {
	width: 1110px;
	min-height: 306px;
	list-style: none;
	margin: 0;
	padding: 0;
	/*margin-left: 140px;
	margin-right: 190px;*/
	justify-content: space-between;
	display: flex; 
	padding-left: 0px;
}

.service-item p {
	margin-bottom: 36px;
	margin-top: 28px;
}

.srvice-item h3 {
	margin-top: 27px;
}

.service-item {
	width: 300px;
	min-height: 348px;
}

/*---------------------------------------*/


.about-about {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	width: 1160px;
	min-height: 104px;
	flex-wrap: wrap;
	border-top: 2px solid #eeeeee;
	padding-top: 42px;
}

.about {
	width: 651px;
	margin-right: 149px;
}

.about h2 {
	margin-bottom: 36px;
}

.principles {
	margin-bottom: 46px;
}

.order-types {
	margin-bottom: 37px;
}

.order-type {
	margin-bottom: 35px;
}

.percent-block {
	width: 360px;
	margin-bottom: 10px;
}

.percent-block ul {
	list-style: none;
	padding: 0;
	display: flex;
	margin-top: 50px;
	margin-bottom: 78px;
}

.percent-block img {
	margin-bottom: 42px;
}


.partnership {
	width: 1160px;
	display: flex;
	justify-content: space-around;
	/*min-height: 183px;*/
	border-top: 2px solid #eeeeee;
	padding-top: 48px;
	padding-bottom: 50px;
	border-bottom: 2px solid #eeeeee;
	margin-left: auto;
	margin-right: auto;
}

.partnership img {
    opacity: 0.2;
}

.partnership img:hover,
.partnership img:focus {
	opacity: 1;
}

/*-----------------map-----------------------*/

.modal-map {
    width: 1440px;
    margin:  0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    box-sizing: content-box;
    /*display: block;
    justify-content: center;*/
}

/*-----------------fooooooooter--------------*/

.main-footer {
	display: flex;
	width: 1160px;
	justify-content: space-between;
	margin-left: 140px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 69px;
	margin-bottom: 78px;
}

.main-footer ul{
	display: flex;
	justify-content: space-between;

}

.friendship {
	display: flex;
	flex-wrap: wrap;
	width: 545px;
	margin-left: 140px;
}

.friendship p {
	margin-top: 13px;
}


/*--------------catalog---------------------------------------------------------------------------------------*/


.page-title {
	margin-top: 93px;
	padding-bottom: 93px;
	margin-bottom: 0;
	margin-bottom: 0;
	box-sizing: border-box;
}

.filter {
	width: 260px;
	margin-top: 60px;
}

.catalog-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;
	margin-top: 60px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog {
	width: 760px;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.catalog-item {
	width: 360px;
	margin-bottom: 33px;
	margin-right: 40px;
}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;
  display: flex;
  width: 443px;
  justify-content: space-between;
  margin-bottom: 60px;
}



















